@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "comfortaa";
}

ul li {
  list-style: none;
}

body,
html {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.flex_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  border: 1px solid $grey;
  border-radius: 2px;
  height: 30px;
  width: 250px;
  color: $light_green;

  padding: 2px 5px;
  font-size: 12px;
  &::placeholder {
    color: $grey;
  }
  outline: none;
}

.login,
.register {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    .line {
      height: 2px;
      width: 25%;
      background-color: $light_green;
    }
    .text {
      margin: 0 5px;

      font-size: 20px;
      text-align: center;
      width: 80px;
      color: $light_green;
    }
  }
}

.btn {
  height: 40px;
  min-width: 150px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  &.primary {
    color: $white;
    background-color: $light_green;
  }
}

.single_detail, #health {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  header {
    position: relative;
    height: 55vh;
    width: 100vw;
    background-color: $light_green;
    border-bottom-left-radius: 120px;
    //background-image: url("../assets/images/sample_picture.jpg");
    background-position: center left;
    background-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $white;
    //z-index: -1;
    .header_content {
      background-color: rgba($light_green, 0.7);
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .section_head_img {
      position: relative;
      margin-bottom: 10px;
    }
    .icon {
      position: absolute;
      cursor: pointer;
      width: 45px;
      &.health {
        margin: -55% 0 0 0;
      }
      &.moults {
        margin: -30% -47% 0 0;
      }
      &.habitat {
        margin: 30% -47% 0 0;
      }
      &.couplings {
        margin: 0 0 -55% 0;
      }
      &.layings {
        margin: 0 47% -30% 0;
      }
      &.isMale {
        opacity: 0.2;
      }
      &.meals {
        margin: 0 0 30% -47%;
      }
    }
    .animal_picture {
      position: absolute;
      height: 140px;
      width: 140px;
      border: 3px solid $white;
      border-radius: 50%;
    }
    .animal_infos {
      //border: 1px solid red;
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: column;
      bottom: 0;
      right: 10px;
      ul li {
        color: $white;

        display: inline;
      }
    }
  }
  main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
    //border: 1px solid red;
    width: 90vw;
    //min-height: 100vh;
    margin-bottom: 80px;
    .name {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 25px;
      color: $light_green;
      height: 30px;
      //border: 1px solid blue;
      .line {
        height: 2px;
        width: 10%;
        margin: 0 5px;
        background-color: $light_green;
      }
    }
    .birth_date {
      margin-top: 2px;
      color: $light_green;
    }
    .global_information {
      text-align: center;
      line-height: 5px;
      color: $dark_green;
      font-weight: bold;

      .description {
        margin: 50px 0;
        line-height: 16px;
        color: $light_green;
        font-weight: lighter;
      }
      .last_action {
        .title {
          color: $dark_green;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 25px;
        }
        p {
          color: $light_green;
          font-weight: normal;
        }
      }
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
