@import "variables.scss";

b {
    text-decoration: none;
    color: $light_green;
    font-size: 10px;
    font-family: sans-serif;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.flex_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  border: 1px solid $grey;
  border-radius: 2px;
  height: 30px;
  width: 250px;
  color: $light_green;
  font-family: sans-serif;
  padding: 2px 5px;
  font-size: 12px;
  &::placeholder {
    color: $grey;
  }
  outline: none;
}

.login, .register {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    .line {
      height: 2px;
      width: 25%;
      background-color: $light_green;
    }
    .text {
      margin: 0 5px;
      font-family: sans-serif;
      font-size: 20px;
      text-align: center;
      width: 80px;
      color: $light_green;
    }
  }
}

.btn {
  height: 40px;
  min-width: 150px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  &.primary {
    color: $white;
    background-color: $light_green;
  }
}


.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}